---
- name: Install PostgreSQL
  apt:
    name:
      - postgresql
      - postgresql-contrib
    state: present
    update_cache: yes

- name: Replace postgresql.conf
  template:
    src: postgresql.conf.j2
    dest: /etc/postgresql/14/main/postgresql.conf
  notify: restart postgres

- name: Replace pg_hba.conf
  template:
    src: pg_hba.conf.j2
    dest: /etc/postgresql/14/main/pg_hba.conf
  notify: restart postgres
