plugin: amazon.aws.aws_ec2
regions:
  - ap-northeast-1

keyed_groups:
  - key: tags.Role
    prefix: role_

filters:
  tag:Project: "pg"
  instance-state-name: "running"

hostnames:
  - private-ip-address
  - ip-address
