plugin: amazon.aws.aws_ec2

regions:
  - ap-northeast-1

filters:
  tag:Project: pg
  instance-state-name: running

hostnames:
  - private-ip-address

keyed_groups:
  - key: tags.Role
    prefix: "role_"
    separator: ""

strict: False

compose:
  ansible_ssh_host: |
    tags.Role == 'bastion' 
    ? public_ip_address 
    : private_ip_address
