- name: Apply replica postgresql.conf
  template:
    src: postgresql.conf.j2
    dest: /etc/postgresql/15/main/postgresql.conf
  notify: restart postgres

- name: Apply replica pg_hba.conf
  template:
    src: pg_hba.conf.j2
    dest: /etc/postgresql/15/main/pg_hba.conf
  notify: restart postgres

- name: Ensure PostgreSQL is started
  service:
    name: postgresql
    state: started
    enabled: true

